:host {
  display: block;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 0.5rem;
  max-width: 24rem;
}

:host[hidden] {
  display: none;
}

:host h1 {
  padding: 16px;
  margin-bottom: 0;
}

:host .card-body {
  border-top: 1px solid #ccc;
  padding: 1rem;
}
