:host {
  display       : block;
  box-shadow    : 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius : .5rem;
  max-width     : 24rem;

  &[hidden] {
	display : none;
  }

  h1 {
	padding       : 16px;
	margin-bottom : 0;
  }

  .card-body {
	border-top : 1px solid #ccc;
	padding    : 1rem;
  }
}
